<!--The content below is only a placeholder and can be replaced.-->
<div class="head" style="text-align:center">
  <h1 class="head"><a href="" [routerLink]="['/']">Metallica vinyl Discography</a></h1>
</div>

<div class="container">
  <div class="navbar">
    <nav>
      <ul>
        <li class="nav-element"><a href="" [routerLink]="['/Albums']">Albums </a></li>
        <li class="nav-element"><a href="" [routerLink]="['/Singles/7']">7" Singles</a></li>
        <li class="nav-element"><a href="" [routerLink]="['/Singles/12']">12" Singles </a></li>
        <li class="nav-element"><a href="" [routerLink]="['/Box-Sets']">Box-Sets </a></li>
      </ul>
    </nav>
  </div>

  <!--<div>{{james}}</div>-->
  <div *ngIf="isHome">
    <div>Total official vinyl album count : {{ counter('albums') }}</div>
    <div>Total official 7" single count : {{ counter('singles7') }}</div>
    <div>Total official 12" single count : {{ counter('singles12') }}</div>

    <div>total official vinyls in collection : {{ counter('albums') + counter('singles7') + counter('singles12')}}</div>
  </div>

  <div>
    <router-outlet></router-outlet>
</div>
</div>
