.album-item{
  ul{
    list-style-type:none;
  }
  li{
    padding-left:300px;
  }

}

.flag{
  width: 17px;
  height: 15px;

}
.tw{
  width: 500px;
}
.t-year{
  width: 50px;
  text-align:left;
}
.t-country{
  width: 75px;
  text-align:left;
}
.t-width{
  width: 150px;
  text-align:left;
}

.head-color{
  background-color: darkgrey;
}

table, th, td {
  border: 1px solid black;
  box-sizing:border-box;
  padding: 0px;
}
.t-info{
  width: 700px;
  text-align:left;
}
.name-bold{
  font-weight: bold;
}
.promo{
  color:red;
}

.dataInfo{
  width: 110px;
  height: 110px;
}
