
<div class="album-item">
  <table>
    <tr class="tw">
      <th class="t-width" (click)="changeSort('name')">Name</th>
      <th class="t-width" (click)="changeSort('country')">Country</th>
      <th class="t-width" (click)="changeSort('year')">Year</th>
      <th class="t-width" (click)="changeSort('label')">Label</th>
      <th class="t-info" (click)="changeSort('info')">Info</th>
    </tr>
    <tr class="tw" *ngFor="let albums of data"(click)="open(albums.id, albums.name)">
      <td class="name-bold">
        {{ albums.name }}
      </td>
      <td>
        {{ albums.country }}
      </td>
      <td>
        {{ albums.year }}
      </td>
      <td>
        {{ albums.label }}
      </td>
      <app-pretty [data]='albums.info'>
        {{ albums.info }}
      </app-pretty>
    </tr>
  </table>
  <app-images>

  </app-images>
</div>
