<div>
  <img class="dataInfo"src = {{dataInfo.url}}>
</div>
<div>
    {{dataInfo.text}}
</div>
<div class="album-item">
  <table>
    <tr class="tw">
      <th  class="head-color t-width" (click)="changeSort('name')">Name</th>
      <th class="head-color t-country" (click)="changeSort('country')">Country</th>
      <th  class="head-color t-year" (click)="changeSort('year')">Year</th>
      <th class="head-color t-width" (click)="changeSort('label')">Label</th>
      <th class="head-color t-width" (click)="changeSort('info')">Info</th>
    </tr>
    <tr class="tw" *ngFor="let albums of data"(click)="open(albums.id, albums.name)">
      <td class="name-bold">
        {{ albums.name }}
      </td>
      <td>
       <img src= {{albums.flag}}  class="flag"> {{ albums.country }}
      </td>
      <td>
        {{ albums.year }}
      </td>
      <td>
        {{ albums.label }}
      </td>
      <app-pretty [data]='albums.info'>
        {{ albums.info }}
      </app-pretty>
    </tr>
  </table>

  <p>Currently <span>{{data.length}}</span> official items of <span>{{data[0].name}}</span><p>
  <app-images>

  </app-images>
</div>
