<div *ngIf="visible" class="image-container">

  <div class="close-btn" (click)="close()">
    x
  </div>

  <!-- The main (big) picture shown -->
  <div class="big-image">
      <img  src="{{selectedImage}}" />
  </div>

  <div class="image-selection-container">
    <!-- left arrow -->
    <div class="image-selection-left-arrow">
      <p class='left-arrow' (click)='dec()'>< </p> 
    </div>
    <!-- image previews -->
    <div class="small-img-container">
      <img class="small-img" *ngFor="let image of visibleImages; let i = index" (click)="changeImage(i)" src="{{ image }}" />
    </div>
    <!-- right arrow -->
    <div class="image-selection-right-arrow">
      <p class='right-arrow' (click)='inc()'>> </p>
    </div>

  </div>
 

</div>
