
  <div class="album-grid">
    <div *ngFor="let albums of objectKeys(data)">
      <a href="" [routerLink]="'/Albums/' + albums">
        <img class="album-img" src="{{ 'assets/album-img/' + albums + '.jpg' }}" />
      </a>

      <!--GET the name of the album-->
      <!-- data er basically collection.albums, lúppar svo öll album, núllta stak fyrir hvert album og tekur name þaðan -->
      <div>
        <h2 class="album-center">{{ data[albums][0].name }}</h2>
      </div>
    </div>
  </div>

